/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */

/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.flex-container a:hover, .flex-slider a:hover, .flex-container a:focus, .flex-slider a:focus{outline: none}.slides, .slides > li, .flex-control-nav, .flex-direction-nav{margin: 0;padding: 0;list-style: none}.flex-pauseplay span{text-transform: capitalize}.flexslider{margin: 0;padding: 0}.flexslider .slides > li{display: none;-webkit-backface-visibility: hidden}.flexslider .slides img{width: 100%;display: block}.flexslider .slides:after{content: "\0020";display: block;clear: both;visibility: hidden;line-height: 0;height: 0}html[xmlns] .flexslider .slides{display: block}* html .flexslider .slides{height: 1%}.no-js .flexslider .slides > li:first-child{display: block}.flexslider{margin: 20px 0;position: relative;zoom: 1;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);-moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);-o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2)}.flexslider .slides{zoom: 1}.flexslider .slides img{height: auto}.flex-viewport{max-height: 2000px;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;-ms-transition: all 1s ease;-o-transition: all 1s ease;transition: all 1s ease}.loading .flex-viewport{max-height: 300px}.carousel li{margin-right: 5px}.flex-direction-nav{*height: 0}.flex-direction-nav a{text-decoration: none;display: block;width: 40px;height: 60px;margin: -30px 0 0;position: absolute;top: 50%;z-index: 10;overflow: hidden;opacity: 0;cursor: pointer;color: rgba(255, 255, 255, 1);-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out}.flex-direction-nav a:before{font-family: "fontawesome";font-size: 60px;display: inline-block;content: '\f104';color: rgba(255, 255, 255, 1)}.flex-direction-nav a.flex-next:before{content: '\f105'}.flex-direction-nav .flex-prev{left: -50px}.flex-direction-nav .flex-next{right: -50px;text-align: right}.flexslider:hover .flex-direction-nav .flex-prev{opacity: 0.7;left: 10px}.flexslider:hover .flex-direction-nav .flex-prev:hover{opacity: 1}.flexslider:hover .flex-direction-nav .flex-next{opacity: 0.7;right: 10px}.flexslider:hover .flex-direction-nav .flex-next:hover{opacity: 1}.flex-direction-nav .flex-disabled{opacity: 0 !important;filter: alpha(opacity=0);cursor: default}.flex-pauseplay a{display: block;width: 20px;height: 20px;position: absolute;bottom: 5px;left: 10px;opacity: 0.8;z-index: 10;overflow: hidden;cursor: pointer;color: #000}.flex-pauseplay a:before{font-family: "fontawesome";font-size: 20px;display: inline-block;content: '\f04c'}.flex-pauseplay a:hover{opacity: 1}.flex-pauseplay a.flex-play:before{content: '\f04b'}.flex-control-nav{width: 100%;position: absolute;bottom: -110px;text-align: center}.flex-control-nav li{margin: 0 6px;display: inline-block;zoom: 1;*display: inline}.flex-control-paging li a{width: 12px;height: 12px;display: block;background: #5C5F6A;background: rgba(92, 95, 106, 1);cursor: pointer;text-indent: -9999px;-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;color: #fff}.flex-control-paging li a:hover{background: #fff;background: rgba(255, 255, 255, 1)}.flex-control-paging li a.flex-active{background: rgba(255, 255, 255, 0);border: solid 2px #fff;cursor: default;line-height: 1.2}.flex-control-thumbs{margin: 5px 0 0;position: static;overflow: hidden}.flex-control-thumbs li{width: 25%;float: left;margin: 0}.flex-control-thumbs img{width: 100%;height: auto;display: block;opacity: .7;cursor: pointer;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;-ms-transition: all 1s ease;-o-transition: all 1s ease;transition: all 1s ease}.flex-control-thumbs img:hover{opacity: 1}.flex-control-thumbs .flex-active{opacity: 1;cursor: default}@media screen and (max-width:860px){.flex-direction-nav .flex-prev{display: none}.flex-direction-nav .flex-next{display: none}}